body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2f2f2f;
}

.progress-container {
    width: 70%;
    height: 100px;
    border: 2px solid orange;
    background-color: #505050;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    width: 30%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    border-radius: 2px;
    position: absolute;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}
