body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #212121;
}
  
.main {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px whitesmoke solid;
}
  
.custom-counter {
    padding: 20px 20px 1px 20px;
    list-style-type: none;
    background-color: #ed9eae;
    margin: 0;
}
  
.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 20px;
    background-color: #c66376;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
  
.custom-counter li::before {
    content: counter(step-counter) ".";
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 8px;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.custom-counter li span {
    padding: 10px 10px;
    background-color: #9e354a;
    color: #ffffff;
}
